<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>당신의 풍수지리에 맞는 지역은?</h1>
    <img src="http://shbabbek.com/images.php?name=upload/20160918181543_2532_3sy.jpg&w=724&h=430&c=1" >
    <h4>이름을 입력해 주세요.</h4>
    <form action="/out">
        <input type="text" name="name"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>